.container-form{
   margin-top: 10%;
   
   color: white;
   height: 100vh;

   .form{
        padding: 5%;
        background-color: rgba(255, 255, 255, 0.159); 
        animation: initial-image ease 2s;
        .message{
            height: 100px;
            caret-color: #ff7a18;
              
        }
    }
    
}
@media only screen and (max-width: 420px){
    .container-form{
        margin-top: 40%;
    }
}