.main-container{
    height: 60vh;
    .content-main{
        
        color: white;
        width: 60%;
        margin: 0 auto;

        .info{
             animation: initial-text 2s;
             margin-top: 25%;
             text-align: center;             
             .main-social-media{
                 margin-top: 2%;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-around;
                 .social-icon{
                     margin: 0 2%;
                     font-size: 1.3rem;
                     padding: 3%;
                     color: black;
                    //  background-color: #fff;
                     border-radius: 50px;

                     a{
                         color: white;
                     }
                     
                    &:hover{
                        transform: scale(1.3);
                        transition: ease-in-out 0.5s;
                    }
                 }
             }
        }
        .image-main{
            margin: 8% auto;
            animation: initial-image 2s;
        }
    }
}

@media only screen and (max-width: 420px){
    .main-container{
        height: 100vh;
        .content-main{
            
            color: white;
            width: 100%;
            margin-top: 20%;
            float: right;
            position: relative;
            
            h5{
                font-size: 1.5rem;
                //background-color: rgba(255, 255, 255, 0.138);
            }
            h1{
                font-size: 2.5rem;
                color: rgba(255, 0, 0, 0.7);
                //background-color: rgba(255, 255, 255, 0.138);
            }
            h3{
                //background-color: rgba(255, 255, 255, 0.138);
            }

            .info{
                position: absolute;
                top: 1%;
                left: 50%;
               
                
                .main-social-media{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: -25%;
                    right: 150%;
                    
                    .social-icon{
                        font-size: 2.5rem;
                        margin: 20%;
                    }
                }
            }
            .image-main{
                display: none;
            }
        }
    }
}

@keyframes initial-text{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }   
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes initial-image{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }   
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}